<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800240519039-q11hdqb88bifpasnd9f18ru14vbvrttd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800240519039-q11hdqb88bifpasnd9f18ru14vbvrttd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>800240519039-2scu6hr05uj92htiutgednte3od1o41e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6cgOOLWZeX8wY-dqzVSbOO38sbi66gRg</string>
	<key>GCM_SENDER_ID</key>
	<string>800240519039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shark.meraOperator</string>
	<key>PROJECT_ID</key>
	<string>sportyme-9927c</string>
	<key>STORAGE_BUCKET</key>
	<string>sportyme-9927c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800240519039:ios:6822938df04c4f5d51bc4a</string>
	<key>DATABASE_URL</key>
	<string>https://sportyme-9927c-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>